In [159]:
import numpy as np
import pandas as pd
import csv

patients_list = pd.read_table('D:\Dropbox (Nate)\SubjectList.txt', sep='\t', header = None)
patients_list.columns = ['MRN', 'Outcome']
list_fail = pd.read_table('D:\Rotation 3\Data\listFail.txt', sep='\t', header = None)
list_pass = pd.read_table('D:\Rotation 3\Data\listPass.txt', sep='\t', header = None)
list_2014 = pd.read_table('D:\Rotation 3\Data\list20142015.txt', sep='\t', header = None)
list_2014.columns = ['MRN']
list_fail.columns = ['MRN']
list_pass.columns = ['MRN']

print(patients_list.shape, list_fail.shape, list_pass.shape, list_2014.shape)

print(patients_list)

(89, 2) (18, 1) (32, 1) (46, 1)
         MRN  Outcome
0   56305530        0
1   41651652        0
2   42243540        0
3   20457546        0
4   51803230        0
5   55167249        0
6   55937516        0
7   55977828        0
8   56034676        0
9   56162542        0
10  56193324        0
11  56227830        0
12  56462236        0
13  56483314        0
14  56511458        0
15  56572066        0
16  56610626        0
17  56662685        0
18  56675590        0
19  56741631        0
20  56885811        0
21  56889817        0
22  56922504        0
23  56972617        0
24  57123346        0
25  32872131        0
26  50626300        0
27  56499601        0
28  55838879        0
29  56374272        0
..       ...      ...
59  57801077        0
60  57664460        0
61  57643838        0
62  57602368        0
63  57576634        0
64  57562587        0
65  44626357        0
66  57525916        0
67  57519592        0
68  55087911        0
69  57484853        0
70  57476036        0
71  57476257        1
72  57347651        1
73  57340177        1
74  57256346        0
75  57184574        1
76  57145765        0
77   3697789        0
78  56751459        0
79  56483063        0
80  12464070        0
81  56444351        0
82   1939246        0
83  56266690        1
84  56236031        0
85  56189785        0
86  55915520        0
87  55888728        1
88  55784850        0

[89 rows x 2 columns]

In [34]:
full_list = pd.read_csv('D:\Dropbox\Copy of EVD clamping new list updated.csv')
full_list['Binary'] = 'None'
full_list['Binary'][full_list['Result'] == 'passed'] = 0
full_list['Binary'][full_list['Result'] == 'failed'] = 1
full_list['Binary'][full_list['Binary'] != 'None'].shape

C:\Users\ntran\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\ntran\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

(63,)

In [111]:
full_list = pd.read_csv('D:\Dropbox\Copy of EVD clamping new list updated.csv')
full_list['Binary'] = 'None'
full_list['Binary'][full_list['Result'] == 'passed'] = 0
full_list['Binary'][full_list['Result'] == 'failed'] = 1
fun = full_list[(full_list['Result'] == 'passed') | (full_list['Result'] == 'failed')]

C:\Users\ntran\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\ntran\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [112]:
fun = fun[['MRN', 'Binary']].reset_index()
del fun['index']

In [114]:
fun.shape

(63, 2)

In [160]:
df = pd.concat([patients_list, list_2014,list_fail, list_pass])
df = df.reset_index(drop=True)
df_gpby = df.groupby(list(df.MRN))
idx = [x[0] for x in df_gpby.groups.values() if len(x) == 1]
idx

[106, 143, 116, 152, 151, 123, 165]

In [174]:
# t = df.reindex(idx)
# print(t[t.Binary==0].shape,t[t.Binary==1].shape)
df = pd.concat([patients_list, list_2014, list_fail]).reset_index(drop=True)
df

          MRN  Outcome
0    56305530      0.0
1    41651652      0.0
2    42243540      0.0
3    20457546      0.0
4    51803230      0.0
5    55167249      0.0
6    55937516      0.0
7    55977828      0.0
8    56034676      0.0
9    56162542      0.0
10   56193324      0.0
11   56227830      0.0
12   56462236      0.0
13   56483314      0.0
14   56511458      0.0
15   56572066      0.0
16   56610626      0.0
17   56662685      0.0
18   56675590      0.0
19   56741631      0.0
20   56885811      0.0
21   56889817      0.0
22   56922504      0.0
23   56972617      0.0
24   57123346      0.0
25   32872131      0.0
26   50626300      0.0
27   56499601      0.0
28   55838879      0.0
29   56374272      0.0
..        ...      ...
123  50317757      NaN
124  56751459      NaN
125  56483063      NaN
126  12464070      NaN
127  56444351      NaN
128   1939246      NaN
129  56266690      NaN
130  56236031      NaN
131  56189785      NaN
132  55915520      NaN
133  55888728      NaN
134  55784850      NaN
135  55784892      NaN
136  43839152      NaN
137   1944355      NaN
138  22385763      NaN
139  55066345      NaN
140  55835217      NaN
141  55953880      NaN
142  56173900      NaN
143  56174125      NaN
144  56211284      NaN
145  56221085      NaN
146  57006609      NaN
147  57109017      NaN
148  45632504      NaN
149  47106273      NaN
150  56869107      NaN
151  56070800      NaN
152  56840940      NaN

[153 rows x 2 columns]